@model project74.Models.user
@{ ViewBag.Title = "viewProfile";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
@{int i = 0;
    int x = 0;
    int count = 0;}


<style>

    .circletag {
        display: block;
        width: 200px;
        height: 200px;
        background: #E6E7ED;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        text-align: center;
    }

        .circletag img {
            margin-top: 7px;
        }

    .catname {
        border: 2px solid #C4698A;
        border-radius: 5px;
        margin: 5px;
        padding: 3px;
    }
</style>
<center>
    <section id="vendors">
        <div class="container">
            <div class="row" style="margin-top:40px">
                <br />
                <div class="container">
                    <div class="row">
                        <div style="width:auto;" class="col-xs-6">
                            @if (Model.image_id != null)
                            {
                <img class="circletag" src="~/attach//@Model.image_id" width="100" height="100" /> }
            else
            {
<img class="circletag" src="~/attach/image.png" width="100" height="100" />}
                        </div>
                        <div style=" width:auto;" class="col-xs-6">

                            <ul style="position:relative; text-align:left;">

                                <li>User Name : @Model.username</li>
                                <li>First Name : @Model.fname  </li>
                                <li>Last Name :  @Model.lname  </li>
                                <li>Mobile :     @Model.mobile </li>
                                @if (Model.Adress != null)
                                {
                                    <li>Adress : @Model.Adress</li>
}
                                @if (Model.loc != null)
                                {
                                    <li>Location : <u><a href="@Model.loc" style="color:blue;"> Go To Location</a></u></li>
}




                            </ul>
                        </div>
                    </div>
                    <br />
                    <div>
                        @foreach (var item in ViewBag.usercat)
                        {
                    <h3 class="catname"> Category : @item.category.cat_name</h3>
                                    <p> "@item.description"</p>
                                                    <br /> foreach (var p in ViewBag.pack)
                            {

                                if (p.cat_id == item.cat_id)
                                {
                                    i = 0;
                                    count++;
                                                            <h2>Package Name : @p.p_name</h2>
                                                            <h3>Description : @p.p_desc</h3>
                                                                                    <div class="card" style="width: 18rem; border:solid; border-color:#C4698A; margin:5px;">

                                                                                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                                                                            <div class="carousel-inner" id="@x">

                                                                                                @foreach (project74.Models.image img in ViewBag.img)
                                                                                                {
                                                                                                    if (img.p_id == p.p_id)
                                                                                                    {@*@<div class="carousel-item ">
                                                                                            <img class="d-block w-100" src="@i.img_url">
                                                                                        </div>@if (img.p_id == item.p_id)*@ {
                                                                                                    i++;
                                                                                                    if (i == 1)
                                                                                                    {
                                                                    <div class="carousel item active">
                                                                        <img src="~/attach/@img.img_url" style="display: block;width: max-content;height: 10em" />
                                                                    </div> }
                                                                                                    else
                                                                                                    {
                                                                    <div class="carousel item">
                                                                        <img src="~/attach/@img.img_url" style="display:block; width:max-content;height:10em" />
                                                                    </div>}
                                                                                                        }
                                                                                                    }
                                                                                                }

                                                                                            </div>
                                                                                            <a class="carousel-control left" href="#@x" role="button" data-slide="prev">
                                                                                                <span class="icon-prev" aria-hidden="true"></span>
                                                                                            </a>
                                                                                            <a class="carousel-control right" href="#@x" role="button" data-slide="next">
                                                                                                <span class=" icon-next" aria-hidden="true"></span>
                                                                                            </a>
                                                                                        </div>

                                                                                    </div>
                                    if (count >= 1)
                                    { <hr />}
                                }

                                x++;


                            }

                        }

                    </div>
                </div>
    </section>
</center>