@model project74.Models.user
@{
    ViewBag.Title = "edit";
}

<section id="vendors">
    <div class="container">
        <div class="row" style="margin-top:40px">
            <h2 class="text-center">New Package</h2>
            <div class="col-1"></div>
            <div class="col-md-8 col-sm-11 col-lg-12">

                <form class="form" method="post" enctype="multipart/form-data">
                    <h2 class="form_title title text-center">Create Account</h2>
                    <div class="form-group">
                        @Html.HiddenFor(n => n.username)
                        @Html.HiddenFor(n => n.password)
                        @Html.HiddenFor(n => n.confrim_pass, new { Value = @Model.password })
                        <label>First name</label>
                        @Html.TextBoxFor(n => n.fname, new { @style = "color:black;width:99%;height:3em;border: 1px solid #C4698A;", @class = "form-group  m-1", Value = @Model.fname })
                        @Html.ValidationMessageFor(n => n.fname, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Last name</label>
                        @Html.TextBoxFor(n => n.lname, new { @style = "color:black;width:99%;height:3em;border: 1px solid #C4698A;", @class = "form-group  m-1", Value = @Model.lname })
                        @Html.ValidationMessageFor(n => n.lname, "", new { @class = "text-danger" })
                    </div>
                    <div id="lblStatus" class="form-group"></div>
                    <div class="form-group">
                        @Html.LabelFor(n => n.mobile)
                        @Html.TextBoxFor(n => n.mobile, new { @style = "color:black;width:99%;height:3em;border: 1px solid #C4698A;", @class = "form-group  m-1", Value = @Model.mobile })
                        @Html.ValidationMessageFor(n => n.mobile, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Location </label>
                        @Html.TextBoxFor(n => n.loc, new { @style = "color:black;width:99%;height:3em;border: 1px solid #C4698A;", @class = "form-group  m-1", Value = @Model.loc })
                        @Html.ValidationMessageFor(n => n.loc, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Address </label>
                        @Html.TextBoxFor(n => n.Adress, new { @style = "color:black;width:99%;height:3em;border: 1px solid #C4698A;", @class = "form-group  m-1", Value = @Model.Adress })
                        @Html.ValidationMessageFor(n => n.Adress, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="image_id" class="d-inline-block pl-2">Upload image</label>
                        <input class="my-2 h-75" name="image_id" type="file">
                        <br />
                        <input type="submit" value="Save" style="background-color: #C4698A;" id="btn" class="btn text-white m-1" />
                    </div>
                </form>
                        </div></div></div></section>
